.ditalProduct{
    flex: 1 1 auto;
    
}
.mainDitalProduct{
    width: 1180px;
    padding: 0 130px 0; 
    padding-bottom: 109px;
}
.productNameId{
    padding: 35px 0 35px;
    font-size: 30px;
}
.productInform{
    display: flex;
    flex-direction: row;   
}
.imgBlock{
    width: 520px;
    height: 558px;
    display: flex;
    flex-direction: column; 
    
}

.imgMain{
    width: 520px;
    height: 461px;
    object-fit: cover;
    padding-bottom: 14px;
}
.listImgCarousel{
    width: 520px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.imgCarousel{
    
    object-fit: cover;
    width: 70px;
    height: 75px;
    border-radius: 4px;
}

.descriptionProduct{
    display: flex;
    flex-direction: column;
    padding-left: 45px;
    width: 616px;

}

.descriptionHead{
    display: flex;
}

.name{
    letter-spacing:0px;
    font-size: 24px;
    font-weight: 600;
    width: 523px;
    padding-bottom: 48px;
    align-self: center;
    align-items: center;
    
}

.nameDescription,.nameCategory,.nameBrand,.nameSkuid, .nameStock,.nameRating,.nameBasePrice ,.nameDiscountPercentage ,.nameDiscountPrice{
    line-height: 23px;
    color: #B2B5BB;
    display: flex;
    flex-direction: row;
    padding-bottom: 23px;
    letter-spacing:0.5px;
    
}

.nameSkuid{
    letter-spacing:1px;
   position: relative;
   white-space: nowrap;
   width: 103px;
   height: 23px; 
   display: flex;
   justify-self: center;
   top: 8%;
   
}
.description,.category,.brand,.skuid, .stock, .rating,.basePrice,.discountPercentage,.discountPrice{
    letter-spacing:0px;
    padding-left: 10px;
    color: black;
    font-size: 16px;
    font-weight: 600;
}
.nameDiscountPrice{
    padding-bottom: 21px;
}

.rating{
    display: flex;
    padding-top: 2px;
    justify-content: space-between;
    width: 116px;
    height: 20px;
}

.starImg{
    width: 16px;
    height: 16px;
}
/* заглушка для макета */
.imgCarousel:first-child{ 
    outline:3px solid #C4C4C4;
    outline-offset:-4px;
    border-radius: 4px;

}

.ditalProductButton{
    padding-top: 42px;
}

@media (max-width:1400px) {
    .descriptionHead{
        display: flex;
        flex-direction: column;
    }
    .name{
        padding-bottom: 0px;
        align-self: normal;
        align-items: normal;
        
    }

  }
@media (max-width:1000px) {
    .productNameId{
        padding-left:200px; 
    }
    .mainDitalProduct{
        width: 1180px;
        padding-left: 130px; 
        padding-bottom: 109px;
    }
    .productInform{
        display: flex;
        flex-direction: column;
        padding-left: 200px;   
    }
    .descriptionProduct{
        margin-top: 10px;
    }

  }
@media (max-width:768px) {
    .imgMain{
        width: 420px;
    }

    .imgCarousel{
        width: 50px;
        height: 55px;
    }
    .listImgCarousel{
        width: 420px;
    }
  }
@media (max-width:480px) {

    .mainDitalProduct{
        width: 1180px;
        padding-left: 130px; 
        padding-bottom: 109px;
    }
    .productInform{
        display: flex;
        flex-direction: column;   
    }
    .descriptionProduct{
        margin-top: 10px;
    }
    .imgBlock{
        height: 300px;
    }
    .imgMain{
        width: 220px;
        height: 220px;
    }
    .imgCarousel{
        width: 50px;
        height: 55px;
    }
    .listImgCarousel{
        width: 420px;
    }
  }