.question{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 880px;
}

.question:last-child{
    border-bottom: 1px solid white;
}
.name{
    font-size: 20px;
    padding-left: 1px;
    padding-top: 15px;
}

.answerClose{
    padding-top: 20px;
    font-size: 0px;
    opacity: 0;
    transition: all 0.2s;
    margin: 0;
}

.answerOpen{
    margin: 0;
    opacity: 1;
    padding-bottom: 37px;
    padding-left: 1px;
    padding-top: 18px;
    transition-duration:300ms;
    transition: all 0.2s;
    letter-spacing:0.5px;
}

.headerQuestion{
    padding-top: 15px;
    border-top: 1px solid white;
    display: flex;
    width: 880px;
    justify-content: space-between;
}

.headerCrossClose{
    position: relative;
    top: 4px;
    width: 25px;
    height: 25px;
    transform: rotate(0deg) ;
    transition-duration:300ms;
    position: relative;
    
}

.headerCrossOpen{
    position: relative;
    top: 4px;
    width: 25px;
    height: 25px;
    transform: rotate(45deg) ;
    transition-duration:300ms;
  }

  .imgCross{
    transform: translateY(20%);
  }

  @media (max-width:1200px) {
    .question{
        width: 980px;
      }
    .headerQuestion{
        width: 980px;
    }
  }
  
  @media (max-width:1000px) {
  
    .question{
        width: 680px;
      }
    .headerQuestion{
        width: 680px;
    }
  
  }
  @media (max-width:768px) {

    .question{
        width: 580px;
      }
    .headerQuestion{
        width: 580px;
    }
  }
  @media (max-width:480px) {
    .question{
        width: 380px;
      }
    .headerQuestion{
        width: 380px;
    }
  
  }