:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
#root {
  max-width: 1440px;
  margin: 0 auto; 
  height:100vh
}
