.imgCarousel{
    
    object-fit: cover;
    width: 70px;
    height: 75px;
    border-radius: 4px;
}

/* заглушка для макета  :first-child*/
.activImgCarousel{ 
    outline:3px solid #C4C4C4;
    outline-offset:-4px;
    border-radius: 4px;
    object-fit: cover;
    width: 70px;
    height: 75px;

}