.defaultButton{
    z-index: 2;
    width: 200px;
    height: 67px;
    background-color: #F14F4F;
    border-radius: 4px;
    border: #F14F4F;
    color: white;
    cursor: pointer;
}


.defaultButton:hover{
    background-color: #8C2828;
    cursor: pointer;
}

.productCountButton{
    cursor: pointer;
    border: none;
    width: 48px;
    height: 48px;
    border-radius: 4px;
    background-color: #F14F4F;
    color: #FFFFFF;
}
.productDetalCountButton{
    cursor: pointer;
    border: none;
    width: 67px;
    height: 67px;
    border-radius: 4px;
    background-color: #F14F4F;
    color: #FFFFFF;
}
.noneBorderButton{
    cursor: pointer;
    width: 42px;
    height: 20px;
    border: none;
    background-color: white;
    color: #B2B5BB;
}
.noneBorderButton:hover{
    color: #444B58;
    cursor: pointer;
    text-decoration: underline;
}

.cartImg{  
    width: 24px;
    display: flex;
    justify-content: center;
    padding-left: 6px;
  }

  .productDetalCartImg{  
    width: 30px;
    display: flex;
    justify-content: center;
    padding-left: 12px;
  }