.cart{
    padding: 0 130px 0;
    margin-bottom: 285px;
    flex: 1 1 auto;
}

.mainBlock{
    padding-bottom: 21px;
}
.name{
    padding: 35px 0 35px 1px;
    font-size: 30px;
}

.listProduct{
    width: 703px;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    height: auto;
    padding: 50px 30px 30px 45px;
}

.informCart{
    display: flex;  
}

.product{
    
    display: block;
    width: 686px;
    height: 100px;
}

.totalBlock{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    width: 397px;
    font-size: 20px;
}
.nameTotalCount,.nameTotalPrice,.nameTotalCountWithDiscount{
    color: #B2B5BB; 
    margin: 0;
    font-size: 20px;
}
.nameTotalCount{
    font-weight: normal;
}

.totalCount{
    padding-bottom: 42px;
}
.nameTotalPrice{
    padding-bottom: 4px;
    font-size: 20px;
    
}
.nameTotalCountWithDiscount{
    font-weight: bold;
    font-size: 22px;
}
.totalCount,.totalPrice,.totalCountWithDiscount{
    display: flex;
    justify-content: flex-end;
    
}

.valueTotalPrice,.valueTotalCount,.valueTotalCountWithDiscount{
    font-weight: bold;
    padding-left: 10px;
}

.totalCountWithDiscount{
    font-size: 24px;
    letter-spacing:-0.2px;
}

@media (max-width:1400px) {

    .informCart{
        display: flex;  
        flex-direction: column;
    }

  }
@media (max-width:1200px) {
    .cart{
        padding-left: 130px;
    }
    .listProduct{
        width: 700px;
    }
  }

  @media (max-width:1000px) {


  }
  @media (max-width:768px) {
    .listProduct{
        width: 400px;
    }

  }
  @media (max-width:480px) {

    .listProduct{
        padding: 20px 10px 30px 5px;
        width: 300px;
        display: flex;
        flex-direction: column;
        width: 450px;
    }


    .totalCount,.totalPrice,.totalCountWithDiscount{
        display: flex;
        justify-content: center;
        
    }

  }