.imgProduct{
    object-fit: cover;
    width: 370px;
    height: 293px;
    border-radius: 4px;
}

.product{
    padding-top: 40px;
}

.product:hover .imgProduct{
    transition: all 1s;
    filter: brightness(75%)
}

.product:hover .productName{
    text-decoration:underline;
}
.productInfo{
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.countButtons{
    width: 175px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
}

.inputCountProduct{
    width: 62px;
    height: 48px;
    text-align:center;
    background-color: #F6F6F6;
    color: #B2B5BB;
    border: #F6F6F6;
    border-radius: 4px;
    
}

.inputCountProduct:focus{
    outline: none;
    color: #444B58;
}

.productName{
    line-height: 22px;
    font-size: 16px;
    font-weight: bold;
    color: #444B58;
}

.productCost{
    line-height: 26px;
    font-size: 18px;
    color: #444B58;
}