.seacrhText{
    letter-spacing:0.1px;
    width: 944px;
    height: 67px;
    background-color: #F6F6F6;
    color: #B2B5BB;
    border: #F6F6F6;
    padding-left: 16px;
    margin-bottom: 12px;
    border-radius: 4px;
}

.seacrhText:focus{
    outline: none;
    color: #444B58;
}
